.Rproj.user
.Rhistory
.RData
.Rhistory.u1conflict.7
.Rhistory.u1conflict.1
.Rhistory.u1conflict.2
.Rhistory.u1conflict.3
.Rhistory.u1conflict.4
.Rhistory.u1conflict.5
.Rhistory.u1conflict.6
.RData.u1conflict
.RData.u1conflict.1
.Rhistory.u1conflict
Thumbs.db
.gitignore
reports/
.gitignore
